[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
	ignore = all
	branch = master
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	ignore = all
	branch = master
[submodule "vim/bundle/Solarized"]
	path = vim/bundle/Solarized
	url = https://github.com/vim-scripts/Solarized.git
	ignore = all
	branch = master
[submodule "zsh-python-prompt"]
	path = zsh-python-prompt
	url = git@github.com:yonchu/zsh-python-prompt.git
	branch = master
