[Unit]
Description=Updates $HOME/.dotfiles

[Service]
Type=oneshot
ExecStart=/bin/sh -c %h/.dotfiles/linuxconf/dotfiles_systemd

[Install]
WantedBy=multi-user.target

